---
layout: default
---

<div class="home">

  {{ content }}

  <aside>
  <h2 id="news" class="page-heading">Latest News</h1>
  {% assign date_format = site.sato.date_format | default: "%b %-d, %Y" %}
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> — <span class="post-meta">{{ post.date | date: date_format }}- <em>updated: {{ post.last_modified_at | date: date_format }}</em></span>
      </li>
    {% endfor %}
  </ul>
  </aside>
  <aside>
    {% include calendar.html %}
  </aside>
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
